# AutoML - Azure

In [35]:
import joblib
import azureml.train.automl

In [36]:
filename = 'AutoML9f3c2ceeb45/model_AutoML9f3c2ceeb45.pkl'
model_path = Model.get_model_path(model_name = 'AutoML9f3c2ceeb45/model_AutoML9f3c2ceeb45.pkl')
model = joblib.load(model_path)

In [37]:
model

PipelineWithYTransformations(Pipeline={'memory': None, 'steps': [('datatransformer', DataTransformer(enable_dnn=None, enable_feature_sweeping=None,
        feature_sweeping_config=None, feature_sweeping_timeout=None,
        featurization_config=None, force_text_dnn=None,
        is_cross_validation=None, is_onnx_compatible=Non...33333333333, 0.06666666666666667, 0.06666666666666667, 0.06666666666666667, 0.06666666666666667]))]},
               y_transformer={}, y_transformer_name='LabelEncoder')

In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [39]:
train_data = pd.read_excel('./datosPractica/Datos_Train80.xlsx')
val_data = pd.read_excel('./datosPractica/Datos_Val20.xlsx')
eval_data = pd.read_excel('./datosPractica/Datos_Eval.xlsx')

In [29]:
train_data.head()

,sid,hour,termicSensation_origin,termicSensation_destination,transport_mode,distance,price,eta,min_distance,min_price,min_eta,binaryTarget,weekday_number,hora_punta,llovizna,is_train
1,1000014,17,49.65,49.65,6,6158,0,1857,5736,0,1454,0,0,1,0,True
2,1000063,15,58.75,58.92,1,6644,200,2988,6404,0,1362,1,0,0,0,True
3,1000063,15,58.75,58.92,3,6663,0,1362,6404,0,1362,0,0,0,0,True
4,1000068,12,53.62,53.54,1,9842,200,3037,6614,0,877,0,0,0,0,True
5,1000068,12,53.62,53.54,3,8496,0,877,6614,0,877,1,0,0,0,True

In [30]:
# Eliminar columna "is_train"
train_data.drop(labels="is_train", axis=1, inplace=True)
val_data.drop(labels="is_train", axis=1, inplace=True)

In [31]:
# Eliminar columna "sid"
train_data.drop(labels="sid", axis=1, inplace=True)
val_data.drop(labels="sid", axis=1, inplace=True)
eval_data.drop(labels="sid", axis=1, inplace=True)

In [32]:
# Cogemos la columna "binaryTarget"
y_train = train_data["binaryTarget"]
y_val = val_data["binaryTarget"]

# Eliminamos la columna "binaryTarget"
X_train = train_data.drop(labels="binaryTarget", axis=1, inplace=True)
X_val = val_data.drop(labels="binaryTarget", axis=1, inplace=True)

X_train = train_data
X_val = val_data

In [34]:
result = model.score(X_val, y_val)
print(result)

0.8352227069222822